# Stirring Minds Internship Tasks (Data Science):-

**DS3: You are given a data set consisting of variables with more than 30 percent missing values.
How will you deal with them?**

Ans:- I would approach differently depending upon the size of the data set. There may be a couple of situations.

      1) If the data set is large:- If the given data set is very large, i.e. containing thousands of columns and rows,            then I would have found out the rows containing Null values or missing values and drop them remove them from the          dataset. Because in large data set it probably won't affect the calculation if we remove the rows containing Null          values. Hence it can be done.
         Here we can take an example of a big MNC with more than 200000 employee, in their data set, if a few entries are          with missing values of salary, then we can drop those, as it won't affect the dataset much.
         
      2) If the data set is small:- Now in this condition I probably won't remove the rows containing missing values.              Because in a small data set of around a few hundred rows and columns, dropping rows may affect in further                  prediction or calculations and statistics. Rather I would fill all the missing values with the mean of that                particular attribute/column using data.fillna(mean).
         In a simple practical example, if there are 3 missing values in the salary column of 10 entries, I can never drop          those 3 rows, as it will affect further proceedings a lot and might give a complete wrong result. Rather it will          better to feel those 3 values with the average of 7 other entries.
      
      But both of these solutions may differ in particular scenarios.In some cases we just can't ignore the values of some       columns. So, we can't remove those columns in spite of having missing values.I think, in this kind of scenario, we         should proceed to chech the Pearson correlation between each column and then take further decision, whether to drop       a column or not. We can drop the columns with very low correlation with other columns.

**DS9 : Consider the dataset named iris and perform some operations to the dataset:-**

In [1]:
#Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

**Importing the Data set:-**

In [2]:
#importing the data set
df=pd.read_csv("C:/Users/DELL/Downloads/datasets_19_420_Iris.csv")

**Exploratory Data Analysis**

In [3]:
#checking the data set
df.shape

(150, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [6]:
#checking if there is any missing value
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

So no null values or missing values are there in the given data set.

In [7]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Converting Categorical Column to numerical column to apply the Machine Learning Model.

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
LE=LabelEncoder()
label=LE.fit_transform(df["Species"])

In [10]:
#droping the categorical column and the unwanted ones
df=df.drop("Species", axis='columns')
df=df.drop("Id", axis='columns')

In [11]:
#appending the transformed column 
df["Species"]=label
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [12]:
df["Species"].unique()

array([0, 1, 2])

**Splitting and Storing the data into separate variables:-**

In [13]:
#Assigning the dependent and the independent variable
X=df.iloc[:, :-1].values
y=df.iloc[:, -1]

In [14]:
X.shape, y.shape

((150, 4), (150,))

In [15]:
#Splitting the data into train and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.33, random_state=0)

**Checking the Train and Test data:-**

In [20]:
X_train.shape, y_train.shape

((100, 4), (100,))

In [21]:
X_test.shape, y_test.shape

((50, 4), (50,))

**Creating the Naive_bayes model and training it:-**

In [22]:
from sklearn.naive_bayes import GaussianNB
GNB=GaussianNB()

In [23]:
GNB.fit(X_train,y_train)

GaussianNB()

**Predicting the test set using our Naive_bayes model!**

In [27]:
GNB.predict(X_test)

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0, 2, 1, 0, 2, 2, 1, 0, 1, 1, 1, 2, 0, 2, 0,
       0, 1, 2, 2, 1, 2])

In [29]:
y_test[:20]

114    2
62     1
33     0
107    2
7      0
100    2
40     0
86     1
76     1
71     1
134    2
51     1
73     1
54     1
63     1
37     0
78     1
90     1
45     0
16     0
Name: Species, dtype: int32

In [31]:
y_pred=GNB.predict(X_test)

In [34]:
#Compairing the Actual and the predicted data
df_comp=pd.DataFrame({"Actual":y_test,"Predicted":y_pred})
df_comp.head(10)

     Actual  Predicted
114       2          2
62        1          1
33        0          0
107       2          2
7         0          0
100       2          2
40        0          0
86        1          1
76        1          1
71        1          1

**Let's Check the Accuracy of our model:-**

In [36]:
Accuracy=(GNB.score(X_test,y_test)) * 100
print("The Accuracy of the model is: ",Accuracy,"%")

The Accuracy of the model is:  96.0 %

**The Naive_bayes model is working fine!**

# END